extends layout 

block content

    h1 #{title}
    p #{items}

    each item in items 
        p #{item._id}
        p #{item.name}
        p #{item.url}

        a(href=item.url) #{item.name} 
        //- a(href=item.url) #{item.name}
    hr
    a(href="/add_category") add category
    